@model Passion_Project.Models.Recipes

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dishes.DishName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dishes.DishName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfServings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfServings)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
